<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% block css %}{% endblock %}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
    <header class="header">
        <div class = "header-cont">
            <a class="logo" href="/">logo</a>
            <div class="web-menu">
                {% if current_user.is_authenticated %}
                <a class="profile-ico" href="/profile/{{current_user.id}}/">{{current_user.username}}</a>
                {% else %}
                <a class="profile-ico" href="/regloginpage/">Register/Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
{% block js %}{% endblock %}
</html>