{% extends "base.html" %}
{% block title %}Details{% endblock %}
{% block css %}/static/styles/pages/detail.css{% endblock %}
{% block content %}
<article>
    <div class="pic-wrapper">
        <img src="{{image.url}}">
    </div>
    <div class="pic-discuss">
        <header class="discuss-hd">
            <a href="/profile/{{image.user.id}}" class="avatar">
                <img src="{{image.user.head_url}}">
            </a>
            <div class="profile-info">
                <a title="{{image.user.username}}" href="/profile/{{image.user.id}}">{{image.user.username}}</a>
            </div>

            {% for comment in image.comments %}
            {% if loop.index > 10 %} {% break %}{% endif %}
            <li>
                <a title="{{comment.user.username}}" href="/profile/{{comment.user.id}}">{{comment.user.username}}</a>
                <span>
                    <span>{{comment.content}}</span>
                </span>

            </li>

            {% endfor %}
        </header>

    </div>
    
    
    
</article>

{% endblock %}